*{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

nav img{
    width: 100%;
    height: auto;
}

.img-responsive{
    max-width: 100%;
    height: auto;
    

}
.support-2, .become-1{
    display: none;
}
.home{
    width: 80%;
    height: auto;
    margin: 0 auto;

}
.contribute{
    height: 30vh;
    background: #E4EDF2;
    margin: 0 auto;

}
.earn{
    font-size: 16px;
}
.text-purple{
    color: #333CC1;
}
.btn-color{
    background-color:  #1652F0;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 2px;
}
.btn{
    border: 2px solid #1652F0 ;

}
.btn:hover{
    background-color:  #1652F0;
    color: #fff;
}
.sponsors{
    background-color: #E4EDF2;
}
.card{
    box-shadow: 0px 0px 50px rgba(22, 82, 240, 0.05);
}
.card-img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
footer{
    background: #24116A;
    color: #fff;
    height: auto;
}
footer h6{
    font-size: 20px;
}

.footer-p{
    font-size: 14px;
}

.tracks{
    background: #FFF8F8;
}
.h1-color{
    color: #24116A;
}

.card-p{
    font-size: 16px;
}
@media (min-width: 768px){
    .support-2, .become-1{
        display: block;
    }
}